{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    {% if in_wiki %}
        <div class="alert alert-danger" role="alert" style="width: 90%;">
            Wiki entry already exists.
        </div>
    {% endif %}
    <h1><b>Creating a New Page</b></h1>
    <form action="{% url 'new_entry' %}" method="post">
        {% csrf_token %}
        <b>Title</b><br>
        {{ form.title }}
        <br><br>
        <b>Content</b><br>
        {{ form.text }}
        <br>
        <input type="submit">
    </form>
{% endblock %}